* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.figure {
    width: 300px;
    height: auto;
}

h1{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

button{
    background-color: #41beb6;
    border: 2px solid white;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.wrapper{
    max-width: 420px;
    height: 100vh;
    max-height: 720px;
    background-color: beige;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons{
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}

.buttons > button > img{
    width: 100%;
}

.start-text{
    font-size: 26px;
    padding: 20px;
}

.result{
    text-align: center;
}

.result img{
    width: 40%;
}

h3{
    font-weight: 400px;
}